
* {
    margin: 0;
    padding: 0
}

body {
    background-color: hsl(0, 0%, 85.1%);
}

.navbar-brand {
    height: auto
}

.navbar-toggle .icon-bar {
    background-color: #fff;
    transition: all .3s
}

.navbar-toggle:hover .navbar-toggle .icon-bar {
    background-color: #ccc
}

.bar-mid-x {
    transform: scaleX(0)
}

.bar-top-x {
    transform: rotate(45deg);
    margin-top: 6px
}

.navbar-toggle .icon-bar+.icon-bar.bar-bot-x {
    transform: rotate(-45deg);
    margin-top: -8px;
    margin-bottom: 6px
}

.btn {
    background-color: #d2322d;
    border-color: #d2322d
}

.btn:hover {
    color: #fff !important;
    border-color: #363636;
    box-shadow: inset 0 -50px 0px rgba(0, 0, 0, 0.1)
}

.btn:focus,
.btn:active {
    box-shadow: inset 0 -62px 0px rgba(0, 0, 0, 0.5);
    color: #fff !important
}

a.dropdown-toggle {
    cursor: pointer;
    color: hsl(213.3, 18.4%, 19.2%);
    font-weight: 600;
}

.nav-item.dropdown {
    margin: 0 20px;
}

.dropdown-toggle::after {
	display: none;
}

.navbar-expand-md {
    box-shadow: 0 1px 4px hsl(0, 0%, 55.1%);
    background-color: #fff;
}

a:not([href]):not([tabindex]).dropdown-toggle-level-1 {
    color: hsl(213.3, 18.4%, 19.2%);
}

a:not([href]):not([tabindex]):hover,
a:not([href]):not([tabindex]):focus,
a:not([href]):not([tabindex]).dropdown-toggle-level-1:hover,
a:not([href]):not([tabindex]).dropdown-toggle-level-1:focus,
a:not([href]):not([tabindex]).dropdown-toggle-level-1.active {
    color: #4E3EB1;
}

ul.dropdown-menu {
    padding: 10px 30px;
    background-color: hsl(220, 13%, 95.5%);
    border: 0;
    top: 120%;
}

.dropdown-submenu {
    padding: 10px 20px;
}

a:not([href]):not([tabindex]) {
    color: #4E3EB1;
    width: 100%;
    height: 100%;
}

.dropdown-submenu:hover {
    background-color: #fff;
}

.dropdown-submenu .dropdown-menu {
    width: 530px;
    top: 0;
    right: -160px;
    left: initial;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #fff;
}

ul.dropdown-submenu-lv-3 {
    margin: 0;
    padding-top: 16px;
    padding-left: 38px;
}

.dropdown-submenu-lv-3 .dropdown-item {
    margin: 0;
    padding: 0;
    font-weight: 500;
}

.dropdown-submenu-lv-3 .dropdown-item:hover {
    background-color: transparent;
    text-decoration: underline;
}

.dropdown-submenu-lv-3 p {
    font-size: 12px;
}

.dropdown-submenu-lv-3 .submenu {
    width: 40%;
    display: inline-block;
}